<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paste</title>
    <link rel="icon" href="/static/favicon.jpg" type="image/jpeg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <textarea id="output" autofocus placeholder="Paste your text here..."></textarea>
    <div id="button-container">
        <button id="copyBtn">Copy</button>
        <button id="actionBtn">Create Paste</button>
    </div>
    <div id="status"></div>
    <script src="/static/script.js"></script>
</body>
</html>